<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".FramiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!--        Firebase Analytics -->
        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="true" />
        <!--autoVerify-->
        <!--        <meta-data-->
        <!--            android:name="asset_statements"-->
        <!--            android:resource="@string/asset_statements" />-->

        <!--        <meta-data-->
        <!--            android:name="com.samsung.android.health.permission.read"-->
        <!--            android:value="com.samsung.health.exercise;com.samsung.shealth.step_daily_trend;com.samsung.health.heart_rate" />-->
        <!--        <meta-data-->
        <!--            android:name="com.samsung.android.health.permission.write"-->
        <!--            android:value="com.samsung.health.exercise" />-->
        <activity
            android:name=".ui.start.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/callback_domain"
                    android:pathPrefix="/communities"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/callback_domain"
                    android:pathPrefix="/subcommunities"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/callback_domain"
                    android:pathPrefix="/events"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/callback_domain"
                    android:pathPrefix="/activities"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/callback_domain"
                    android:pathPrefix="/challenges"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="//"
                    android:scheme="com.framiactivity.frami" />
            </intent-filter>
            <!--            <intent-filter android:autoVerify="true">-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data-->
            <!--                    android:host="framiwebappdev.azurewebsites.net"-->
            <!--                    android:scheme="https" />-->
            <!--            </intent-filter>-->
            <!--            <intent-filter android:autoVerify="true">-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data-->
            <!--                    android:host="framiwebapptest.azurewebsites.net"-->
            <!--                    android:scheme="https" />-->
            <!--            </intent-filter>-->
            <!--            <intent-filter android:autoVerify="true">-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data-->
            <!--                    android:host="framiwebappprod.azurewebsites.net"-->
            <!--                    android:scheme="https" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeIntro" />
        <activity
            android:name=".ui.loginsignup.LoginSignupActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeIntro">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.personalityinfo.PersonalityInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.ActivityActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.challenges.ChallengesActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.invite.InviteParticipantActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.rewards.rewardcodes.RewardCodeActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.events.EventsActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.community.CommunityActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.videoplayer.ExoVideoPlayerActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.common.fullscreen.FullScreenImageActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme" />

        <!-- Image Picker activity -->
        <activity
            android:name=".ui.common.ImagePickerActivity"
            android:screenOrientation="portrait" />

        <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />

        <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.framiactivity.frami"
                    android:path="/2pmj9i4rSx0yEb/viWBYkE/ZQrk="
                    android:scheme="msauth" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.framiactivity.frami"
                    android:path="/2pmj9i4rSx0yEb/viWBYkE/ZQrk="
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.settings.wearable.WearableActivity"
            android:exported="true">
            <!--            <intent-filter android:autoVerify="true">-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data-->
            <!--                    android:host="@string/callback_domain"-->
            <!--                    android:path="/callback/garmin"-->
            <!--                    android:scheme="garmin" />-->
            <!--            </intent-filter>-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/callback_domain"
                    android:path="/callback/garmin"
                    android:scheme="https" />
            </intent-filter>
            <!--Strava-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/callback_domain"
                    android:path="/callback/strava"
                    android:scheme="https" />
            </intent-filter>
            <!--Fitbit-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/callback_domain"
                    android:path="/callback/fitbit"
                    android:scheme="https" />
            </intent-filter>
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data-->
            <!--                    android:host="framiwebappprod.azurewebsites.net"-->
            <!--                    android:path="/callback"-->
            <!--                    android:scheme="https" />-->
            <!--            </intent-filter>-->
            <!--Polar-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/callback_domain"
                    android:path="/callback/polar"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!--Firebase messaging service-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_frami_f_star" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".ui.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Address Picker-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <activity
            android:name=".ui.common.location.LocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>

    <!--https://developer.android.com/training/basics/intents/package-visibility-use-cases-->
    <queries>
        <!--        <package android:name="com.azure.authenticator" />-->
        <!--        <package android:name="com.microsoft.identity.testuserapp" />-->
        <!--        <package android:name="com.microsoft.windowsintune.companyportal" />-->
        <!--        &lt;!&ndash; Required for API Level 30 to make sure we can detect browsers-->
        <!--        (that don't support custom tabs) &ndash;&gt;-->
        <!--        <intent>-->
        <!--            <action android:name="android.intent.action.VIEW" />-->
        <!--            <category android:name="android.intent.category.BROWSABLE" />-->
        <!--            <data android:scheme="https" />-->
        <!--        </intent>-->
        <!-- Required for API Level 30 to make sure we can detect browsers that support custom tabs -->
        <!-- https://developers.google.com/web/updates/2020/07/custom-tabs-android-11#detecting_browsers_that_support_custom_tabs -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <!--REF        https://docs.microsoft.com/en-us/answers/questions/437047/after-app-verification-on-android-11-devices-appea.html-->
        <!--        https://github.com/AzureAD/microsoft-authentication-library-common-for-android/blob/614c06eb8210069af6d089e6c97e79fb5c8cffb3/common/src/main/AndroidManifest.xml-->
        <!--        https://stackoverflow.com/questions/43972730/getting-403-disallowed-user-agent-in-auth0-lock-for-android-->
    </queries>
    <queries>
        <package android:name="com.sec.android.app.shealth" />
    </queries>
</manifest>